/* CSS */

/*Overall Styling: */
html {
    background-color: rgba(178, 174, 164, 0.74);
    border:70px solid;
    border-color: rgba(221, 220, 195, 0.695);
    color: rgb(255, 255, 255);
}
header  {
    font-family: "Georgia", serif;
    font-weight: 900;
    font-size: larger;
    color: rgb(255, 255, 255);
    text-align: center;
}
main {
    float:left;
    width:65%;
    color: rgb(254, 253, 253);
}
nav {
    float:left;
    width:100%;
    background-color:rgba(49, 135, 255, 0.777);
    height:2em;
    line-height:1em;
    margin:20px 0px;
}
nav a {
    float:left;
    width: 15%;
    text-decoration:none;
    color:white;
    background-color:rgba(49, 135, 255, 0.534);
    padding-right:0.9em;
    padding-left: 0.9em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-right: 3px solid white;
    font-size: medium;
    font-weight: bold;
}
nav a:hover {
    background-color: rgba(255, 230, 230, 0.478);
}
main article {
    background-color: rgb(150, 180, 255);
    border: 2px solid white;
    border-radius: 80px;
    color: rgba(255, 255, 255, 0.737);
    width:100% ;
    height:100% ;
    font-size: large;
    #h text-shadow: 2px 2px 2px #aaa;
    margin: 100px;
    border: none;
    box-shadow: none;
    margin: 50px;
    margin-top: 1px;
    padding: 1em;
 
}

section {
    border-radius: 80px;
    color: rgb(255, 255, 255);
    width:100% ;
    height:100% ;
    font-size: large;
    #h text-shadow: 2px 2px 2px #aaa;
    margin: 100px;
    background-color: rgb(150, 180, 255);
    border: none;
    box-shadow: none;
    margin: 50px;
    margin-top: 1px;
    padding: 1em;
}
table  {
    background-color: rgba(255, 214, 214, 0) ;
    float: left;
}
th, td {
  padding: 10px;
  text-align: left;
  border:1px solid black;
  background-color: rgb(52, 93, 147);

}
